div {
	border-style:solid;
	border-width:1px;
	margin:2px;
}

span.characterName, span.collapse {
	font-weight:bold;
}

div#abilityScoresTitle {
	cursor:default;
	color:#0000FF;
} 

button#changeCharacter {
	display:none;
}