
/*
div {
	border-style:solid;
	border-width:1px;
	margin:2px;
}
*/
.btn-group {
	margin-left:5px;
}

.panel .panel {
	margin-left:10px;
	margin-right:10px;
}

div .title {
	cursor:default;
	color:#0000FF;
} 

span.statValue {
	cursor:default;
	position: relative;
}

div.toolTipContainer {
	background-color: #EEEEEE;
	position: absolute;
	z-index: 100;
	width: 500px;
}

button#changeCharacter, .racialAbilityBonusSelection {
	display:none;
}

.title {
	background-color: #CCFFFF;
}

th {
	background-color:#EEEEEE;
}