div {
	border-style:solid;
	border-width:1px;
	margin:2px;
}

span.collapse {
	font-weight:bold;
}

div .title {
	cursor:default;
	color:#0000FF;
} 

span.statValue {
	cursor:default;
	position: relative;
}

div.toolTip {
	background-color: #EEEEEE;
	position: absolute;
	display: none;
	z-index: 100;
	width: 200px;
}

button#changeCharacter {
	display:none;
}